.global-inputLight{
    border: 0.2rem solid #7BF1A8;
    background-color: #d5f3cf;
    box-sizing: border-box;

    &:focus{
        outline: solid 0.1rem #7BF1A8;
    }
}
.global-input{
    border: 0.2rem solid #B9F8CF;
    background-color: #d5f3cf;
    box-sizing: border-box;
    color: rgb(0, 0, 0);

    &:focus{
        border: 0.1rem solid #7BF1A8;
        outline: solid 0.1em #B9F8CF;
        
    } 
}

.global-container{
    border: 0.3rem solid #B9F8CF;
    background-color: white;
    box-sizing: border-box;
    color: black;
}

.global-container1{
    border: #73ff00 0.3rem solid;
    color: black;
    background-color: white;
}
.global-button{
    background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
    color: white;
    border: 0.2rem solid #008236;
    box-sizing: border-box;

    &:hover{
        border: 0.2rem solid #00943e;
        transform: scale(1.05);
        background: #01a863;
        cursor: pointer;
    }
}

.global-button1{
    background-color: transparent;
    border: 0.2rem solid #28B45C;
    color: #000000;
    box-sizing: border-box;

    &:hover{
        transform: scale(1.05);
        background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
        color: white;
        cursor: pointer;
    }
}
.global-a{
    color: #07ad4c;
    text-decoration: none;
    box-sizing: border-box;

    &:hover{
        color: #277454;
        text-decoration: underline;
    }
}