*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul li{
    list-style: none;
}
.navbar{
    height: clamp(2.2rem, 4.813vw, 16.5rem);
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(185, 248, 207,0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 0.3rem #B9F8CF solid;

    .navUl{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: clamp(2rem, 4.375vw, 15.0rem);
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            li{
                height: 80%;
                width: 20%; 
                padding: clamp(0.80rem, 0.88vw, 1.40rem);
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                border-radius: 1rem;
                
                &:hover{
                    background-color: rgba(208, 240, 192, 0.7);
                }
                
                a{  
                    color: black;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.52rem, 1.14vw, 3.9rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: fit-content;
                height: 70%;
                padding: 0 2rem;
                box-sizing: border-box;
                border-radius: clamp(0.4rem, 0.88vw, 3rem);
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }

            .btn{
                background-color: transparent;
                border: 0.2rem solid #28B45C;
                color: #ffffff;

                &:hover{
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                }
            }
            .btn1{

                background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                color: white;
                border: 0.2rem solid #008236;

                &:hover{
                    border: 0.2rem solid #004d20;
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(100, 158, 100, 1) 0%, rgba(30, 92, 52, 1) 100%);
                }
            }
        }

    }
}

.forgot{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerr{
        width: 30%;
        height: 45%;
        border-radius: 1rem;

        .cont{
            width: 100%;
            height: 100%;
            padding: 2vw;
            box-sizing: border-box;
            border-top: 0.8rem solid #00cf79;
            border-radius: 0.65rem;
            background-color: white;

            .contt{
                height: 25%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h1{
                    font-size: clamp(0.8rem, 1.75vw, 6rem);
                }

                h2{
                    font-size: clamp(0.4rem, 0.875vw, 3rem);
                }
            }

            .conttt{
                height: 65%;
                width: 100%;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                .contttt{
                    width: 100%;
                    height: 45%;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;

                    h3{
                        font-size: 1rem;
                    }

                    .email{
                        width: 100%;
                        height: 55%;
                        border-radius: 0.5rem;
                        padding: 0 1vw;
                        box-sizing: border-box;
                        font-size: clamp(0.6rem, 1.25vw, 4.5rem);

                        &:focus{
                            outline: none;
                            border: 0.2rem solid #4fcf94;
                        }
                    }
                }

                .sendLink{
                    width: 100%;
                    height: 23%;
                    border-radius: 0.5rem;
                    font-size: clamp(0.6rem, 1.25vw, 4.5rem);
                }
            }

            .conttttt{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;

                h1{
                    font-size: 1rem;

                    a{
                        text-decoration: none;
                        color: #00cf79;

                        &:hover{
                            text-decoration: 0.1rem underline;
                        }
                    }
                }
            }
        }
    }


}
