*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul li{
    list-style: none;
}
.navbar{
    height: clamp(2.2rem, 4.813vw, 16.5rem);
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(185, 248, 207,0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 0.3rem #B9F8CF solid;

    .navUl{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: clamp(2rem, 4.375vw, 15.0rem);
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            li{
                height: 80%;
                width: 20%; 
                padding: clamp(0.80rem, 0.88vw, 1.40rem);
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                border-radius: 1rem;
                
                &:hover{
                    background-color: rgba(208, 240, 192, 0.7);
                }
                
                a{  
                    color: black;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.52rem, 1.14vw, 3.9rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: fit-content;
                height: 70%;
                padding: 0 2rem;
                box-sizing: border-box;
                border-radius: clamp(0.4rem, 0.88vw, 3rem);
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }

            .btn{
                background-color: transparent;
                border: 0.2rem solid #28B45C;
                color: #ffffff;

                &:hover{
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                }
            }
            .btn1{

                background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                color: white;
                border: 0.2rem solid #008236;

                &:hover{
                    border: 0.2rem solid #004d20;
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(100, 158, 100, 1) 0%, rgba(30, 92, 52, 1) 100%);
                }
            }
        }

    }
}
.signIn{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: clamp(1.4rem, 3.063vw, 10.5rem);

    .container{
        width: 60%;
        height: 75%;
        background-color: red;
        display: flex;
        justify-content: center;
        border-radius: 1rem;

        .left{
            width: 50%;
            height: 100%;
            background-color: rgb(175, 238, 159);
            border-radius: 0.6rem 0 0 0.70rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            i{  
                width: 40%;
                height: 29%;
                font-size: 10rem;
            }

            h1{
                font-size: 3rem;
            }
        }
        
        .right{
            width: 50%;
            height: 100%;

            .borderBottom{
                width: 100%;
                height: 100%;
                padding: clamp(1.4rem, 3.063vw, 10.5rem);
                box-sizing: border-box;
                display: flex;
                justify-content: start;
                flex-direction: column;
                border-radius: 0 0.70rem 0.70rem 0;
                border-bottom: 0.5rem solid #00C26B;
                background-color: white;

                h1{
                    font-size: clamp(1.2rem, 2.625vw, 9.0rem);
                }
                .info{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: start;
                    gap: clamp(0.8rem, 1.75vw, 6.0rem);
                    align-items: center;
                    flex-direction: column;
                    margin-top: clamp(1.2rem, 2.625vw, 9.0rem);

                    .inputEmail{
                        height: 30%;
                        width: 100%;
                        border-radius: 0.5rem;
                    }

                    .psw{
                        width: 100%;
                        height: 45%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        .inputPSW{
                            height: 65%;
                            width: 100%;
                            border-radius: 0.5rem;
                        }

                        .remember{
                            width: 100%;
                            height: 30%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            

                            .days{
                                display: flex;
                                justify-content: start;
                                box-sizing: border-box;
                                
                                h3{
                                    font-size: clamp(0.36rem, 0.79vw, 2.7rem);
                                    margin-left: clamp(0.16rem, 0.35vw, 1.2rem);
                                }
                            }
                        }
                    }
                }
                .contButtons{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    margin-top: clamp(0.4rem, 0.88vw, 3rem);

                    .login, .cvsuAccount{
                        width: 100%;
                        height: 30%;
                        border-radius: 0.5rem;
                        box-sizing: border-box;
                    }
                }

                .account{
                    font-size: clamp(0.4rem, 0.88vw, 3rem);
                    margin-top: clamp(0.4rem, 0.88vw, 3rem);
                    text-align: center;
                }

            }
        }
    }
}
