*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul li{
    list-style: none;
}
.navbar{
    height: clamp(2.2rem, 4.813vw, 16.5rem);
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(185, 248, 207,0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 0.3rem #B9F8CF solid;

    .navUl{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: clamp(2rem, 4.375vw, 15.0rem);
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            li{
                height: 80%;
                width: 20%; 
                padding: clamp(0.80rem, 0.88vw, 1.40rem);
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                border-radius: 1rem;
                
                &:hover{
                    background-color: rgba(208, 240, 192, 0.7);
                }
                
                a{  
                    color: black;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.52rem, 1.14vw, 3.9rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: fit-content;
                height: 70%;
                padding: 0 2rem;
                box-sizing: border-box;
                border-radius: clamp(0.4rem, 0.88vw, 3rem);
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }

            .btn{
                background-color: transparent;
                border: 0.2rem solid #28B45C;
                color: #ffffff;

                &:hover{
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                }
            }
            .btn1{

                background: linear-gradient(90deg,rgba(144, 238, 144, 1) 0%, rgba(87, 199, 133, 1) 100%);
                color: white;
                border: 0.2rem solid #008236;

                &:hover{
                    border: 0.2rem solid #004d20;
                    transform: scale(1.05);
                    background: linear-gradient(90deg,rgba(100, 158, 100, 1) 0%, rgba(30, 92, 52, 1) 100%);
                }
            }
        }

    }
}
.main{
    width: 100%;
    height: 170vh;
    padding: 5rem;
    padding-top: 7rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .leftCont{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 1rem;
        gap: 2rem;

        .div{
            width: 95%;
            height: 25%;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border: 0.4rem solid #B9F8CF;

            .tutorProf{
                width: 20%;
                height: 85%;
                background-color: brown;
                border-radius: 1rem;
                border: 0.3rem solid #76faa4;
                box-shadow: 0.1rem 0.1rem 1rem #76faa4;
            }

            .tutorInfo{
                width: 70%;
                height: 85%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding-left: 0.5rem;
                
                h1{
                    font-size: 3rem;
                }

                .ranking{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                }

                .stars{
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    gap: 0.5rem;

                    .starCont{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 23%;
                    }
                }

                .boxConts{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .statsCont{
                        width: 30%;
                        height: 95%;
                        background-color: #EDFDF5;
                        border-radius: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex-direction: column;
                        box-sizing: border-box;
                        padding-left: 2rem;
                        font-size: 1.3rem;
                        border: 0.3rem solid #B9F8CF;

                        .infoTop{
                            width: 100%;
                            height: 30%;
                            display: flex;
                            align-items: center;
                            gap: 0.2rem;
                        }
                    }
                }

            }
        }

        .div1{
            width: 95%;
            height: 30%;
            background-color: rgb(255, 255, 255);
            border-radius: 1.5rem;
            border: 0.4rem solid #B9F8CF;

            .ddiv{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 2rem;
                border-top: 0.8rem solid #74e774;
                border-radius: 1rem 1rem 0 0;

                .textsTop{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;

                    h1{
                        font-size: 2rem;
                    }
                }

                .subjects{
                    width: 100%;
                    height: 90%;
                    padding: 1rem;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;

                    .subject{
                        width: 45%;
                        height: 40%;
                        border: 0.3rem solid rgba(167, 167, 167, 0.5);
                        display: flex;
                        border-radius: 2rem;

                        .left{
                            width: 75%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            padding-left: 1rem;
                            box-sizing: border-box;

                            i{
                                font-size: 3rem;
                                width: 20%;
                            }

                            h3{
                                font-size: 1.5rem;
                                width: 70%;
                            }
                        }

                        .right{
                            width: 25%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 0.8rem;
                            color: #00C850;
                        }

                        &:hover{
                            transform: translateY(-1%) scale(1.05);
                            border: 0.3rem solid #00CA6F;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }

        .div2{
            width: 95%;
            height: 30%;
            background-color: rgb(255, 255, 255);
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            border: 0.4rem solid #B9F8CF;

            .ddiv{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 2rem;
                border-top: 0.8rem solid #74e774;
                border-radius: 1rem 1rem 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenlys;

                .div2Text{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    font-size: 2rem;

                    h1{
                        font-size: 2rem;
                    }
                }

                .divConts{
                    width: 100%;
                    height: 90%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .type{
                        width: 45%;
                        height: 85%;
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        border: 0.3rem solid rgba(167, 167, 167, 0.5);

                        i{
                            width: 35%;
                            height: 40%;
                            background-color: rgb(66, 248, 105);
                            font-size: 5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 1.5rem;
                        }

                        h3{
                            font-size: 1.5rem;
                        }

                        &:hover{
                            transform: translateY(-1%) scale(1.05);
                            border: 0.3rem solid #00CA6F;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .rightCont{
        width: 25%;
        height: 70%;
        background-color: white;
        box-sizing: border-box;
        margin-top: 1rem;
        border: 0.3rem solid #B9F8CF;
        border-radius: 2rem;


        .topRight{
            width: 100%;
            height: 70%;
            padding: 1rem;
            box-sizing: border-box;

            .price{
                width: 100%;
                height: 65%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                
                .subjPrice{
                    width: 95%;
                    height: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    flex-direction: column;
                    gap: 0.5rem;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-sizing: border-box;
                    border: 0.3rem solid #a7fac4;
                    background-color: #d4f5df;
                    
                    .subjectPrice{
                        width: 100%;
                        height: 20%; 
                        display: flex;
                        align-items: center;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                    
                        .textsTop{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            font-size: 1.5rem;

                            h1{
                                font-size: 1.5rem;
                            }
                        }

                        h1{
                            font-size: 1.2rem;
                        }
                    }

                    .subjects{
                        width: 100%;
                        height: 70%;
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;

                        .subj1{
                            width: 100%;
                            height: 20%;
                            display: flex;
                            justify-content: space-between;
                            padding: 0 0.5rem;
                            box-sizing: border-box;
                            h1{
                                font-size: 1.3rem;
                            }

                            h2{
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .typePrice{
                    width: 95%;
                    height: 25%;
                    padding: 1rem;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 1rem;
                    border: 0.3rem solid #a7fac4;
                    background-color: #d4f5df;

                    .subjectPrice{
                        width: 100%;
                        height: 40%; 
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                    
                        .div2Text{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            font-size: 1.5rem;

                            h1{
                                font-size: 1.5rem;
                                width: 100%;
                            }
                        }

                        h1{
                            font-size: 1.2rem;
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }
                    
                    h1{ 
                        box-sizing: border-box;
                        padding-left: 0.5rem;
                        width: 100%;
                        font-size: 1.2rem;
                    }
                }

                .brokenLines{
                    width: 97%;
                    height: 0.01%;
                    border: 0.2rem dashed green;
                }

                .subTotal{
                    width: 95%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    box-sizing: border-box;
                    border: 0.3rem solid #a7fac4;
                    background-color: #d4f5df;
                    border-radius: 1rem;

                    .stotalPrice{
                        width: 100%;
                        height: 20%; 
                        display: flex;
                        align-items: center;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                    
                        .stotalText{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            font-size: 1.5rem;

                            h1{
                                font-size: 1.5rem;
                            }
                        }

                        h1{
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .voucher{
                    width: 100%;
                    height: 38%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: spa;
                    gap: 1rem;

                .applyVoucher{
                    width: 95%;
                    height: 55%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    box-sizing: border-box;
                    border: 0.3rem solid #DAB2FF;
                    border-radius: 1rem;
                    background-color: #e2ccf0;


                    .voucherTextTop{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        font-size: 1.3rem;
                        h1{
                            font-size: 1.3rem;
                        }
                    }
                    .voucherMiddle{
                        width: 100%;
                        height: 45%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .codeText{
                            width: 70%;
                            height: 90%;
                            border-radius: 0.5rem;
                            box-sizing: border-box;
                            padding-left: 0.5rem;
                            
                            &:focus{
                                outline: none;
                                border: 0.3rem solid #DAB2FF;
                            }
                        }
                        .apply{
                            width: 25%;
                            height: 90%;
                            background: linear-gradient(90deg,rgba(174, 0, 255, 1) 0%, rgba(255, 0, 174, 1) 56%, rgba(255, 0, 119, 1) 100%);;
                            border-radius: 0.75rem;
                            font-size: 1rem;

                            &:hover{
                                border: 0.2rem lavender solid;
                                transform: translateY(8%) scale(1.1);
                                cursor: pointer;
                            }
                        }
                    }
                    .voucherGift{
                        width: 100%;
                        height: 25%;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-top: 0.2rem;

                        h1{
                            font-size: 1rem;
                        }
                    }
                }

                .voucherPrice{
                    width: 95%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    box-sizing: border-box;
                    border: 0.3rem solid #a7fac4;
                    background-color: #d4f5df;
                    border-radius: 1rem;

                    .voucherText{
                        width: 100%;
                        height: 20%; 
                        display: flex;
                        align-items: center;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                        gap: 0.5rem;
                        font-size: 1.5rem;
                    
                        h1{
                            font-size: 1.5rem;
                        }
                    }

                    h1{
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .total{
            width: 100%;
            height: 30%;
            border-radius: 2rem;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            background-color: greenyellow;
            padding-top: 0.3rem;
            box-sizing: border-box;
            gap: 2rem;
            
            .totalPrice{
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                padding: 2rem;
                box-sizing: border-box;
                background-color: #d4f5df;
                border-radius: 2rem;

                .voucherText{
                    width: 100%;
                    height: 20%; 
                    display: flex;
                    align-items: center;
                    padding: 0 0.5rem;
                    box-sizing: border-box;
                    gap: 0.5rem;
                    font-size: 1.5rem;
                
                    h1{
                        font-size: 1.5rem;
                    }
                }

                h1{
                    font-size: 1.2rem;
                }
            }
            .request{
                width: 85%;
                height: 20%;
                background: linear-gradient(90deg,rgba(0, 255, 106, 1) 0%, rgba(76, 184, 0, 1) 100%);
                border-radius: 2rem;
                border: 0.3rem solid #7ebd94;
                font-size: 1.5rem;

                &:hover{
                    border: 0.3rem solid #537c61;
                    transform: translateY(-1%) scale(1.05);
                    cursor: pointer; 
                    background: linear-gradient(90deg,rgba(0, 191, 80, 1) 0%, rgba(47, 112, 0, 1) 100%);
                    color: white;
                }
            }
        }

    }
}
.footer{
    width: 100%;
    height: 20vw;
    background-color: #006F41;
    color: white;
    
    .top{
        width: 100%;
        height: 84%;
        display: flex;
        justify-content: center;
        
        .left{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 0.5rem;
            box-sizing: border-box;
            padding: 2rem 4rem;
            

            h1{
                font-size: 4rem;
            }
            h3{
                font-size: 1.2rem;
                width: 88%;
            }
            .emailSubs{
                width: 100%;
                height: 22%;
                display: flex;
                gap: 1rem;
                margin-top: 2rem;

                .emailSubscription{
                    width: 70%;
                    height: 100%;
                    border-radius: 0.75rem;
                    border: 0.2rem solid #5F9E89;
                    background-color: rgba(73, 245, 151, 0.2);
                    box-sizing: border-box;
                    padding: 1rem;
                    font-size: 1rem;

                    &::placeholder{
                        color: white;
                    }

                    &:focus{
                        outline: none;
                        border: 0.2rem solid #00C850;
                        caret-color: white;
                    }
                }

                .subscribe{
                    width: 20%;
                    height: 100%;
                    border-radius: 0.75rem;
                    color: green;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(221, 245, 221);
                        color: rgb(100, 143, 100);
                        transform: translateY(-1%) scale(1.05);
                    }
                }
            }
        }
        .right{
            width: 40%;
            height: 100%;
            padding: 2rem 4rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;

            .box{
                height: 100%;
                width: 30%;
                
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 1.5rem;

                h1{
                    font-size: 1.5rem;
                }

                .aTags{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 0.5rem;
                    
                    &:hover{
                        transform: translateY(5%) scale(1.05);
                    }
                    
                    a{
                        font-size: 1.3rem;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .box1{
                height: 100%;
                width: 30%;

                .contactDiv{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 0.5rem;

                    .numberDiv, .emailDiv{
                        display: flex;
                        width: 100%;
                        height: 30%;
                        gap: 0.5rem;

                        i{
                            width: 10%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        h3{
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .locationDiv{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: start;
                    flex-direction: column;
                    gap: 1rem;

                    h1{
                        font-size: 1.5rem;
                    }

                    .emailDiv{
                        display: flex;
                        width: 100%;
                        height: 30%;
                        gap: 0.5rem;

                        i{
                            width: 10%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        h3{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .bottom{
        width: 100%;
        height: 15%;
        display: flex;
        border-top: 0.1rem #3fa086 solid;

        .left{
            width: 50%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-left: 2rem;
            h1{
                font-size: 1.5rem;
            }
        }

        .right{
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 2rem;
            box-sizing: border-box;
            padding-right: 2rem;

            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}
